.App {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  &-header {
    position: relative;
    height: 100px;
    background-color: $info;
    box-shadow: rgba($black, 0.1) 0px 1px 6px, rgba($black, 0.1) 0px 1px 4px;

    &-text {
      position: absolute;
      top: calc(50% - 37px);
      left: calc(50% - 93px);
      color: $white;
    }
  }
}
