.Workout {
  padding: 10px;

  &-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;

    @media (max-width: 950px) {
      flex-wrap: wrap;
    }
  }

  &-list {
    & > thead th {
      font-size: 1em !important;

      &:first-child {
        display: none;
      }
    }

    &-footer {
      td {
        text-align: center !important;
        font-size: 1.25em !important;
      }
    }
  }

  &-listItem {
    //
  }
}
